* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fab95b;
}

.container {
  margin: 0 15rem;
}

p {
  color: #fff;
}

.text-green {
  color: #71a0a5;
}

.text-white {
  color: #fff;
}

h1 {
  font-size: 3.25rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

/* Navbar */
#navbar {
  background: #fab95b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.logo,
.menu {
  display: flex;
  align-items: center;
}

.logo,
.menu-link {
  padding: 30px 30px;
}

.menu-sign {
  padding: 10px 15px;
}

.menu-link a,
.logo a {
  color: #71a0a5;
  text-decoration: none;
}

.menu-link a:hover {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.btn {
  width: 100px;
  height: 40px;
  color: #71a0a5;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #71a0a5;
  transition: all 0.3s ease 0s;
  color: #fff;
}

/* Header */
#header {
  background: #fab95b;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  position: absolute;
  right: 15rem;
  top: 12rem;
}

.header {
  position: absolute;
  left: 15rem;
}

.rocket {
  width: 40%;
}

.btn-get-started {
  width: 220px;
  height: 60px;
  color: #71a0a5;
  background-color: #fff;
  border: none;
  font-size: 1.25rem;
  border-radius: 50px;
  cursor: pointer;
}

.btn-get-started:hover {
  background-color: #71a0a5;
  transition: all 0.3s ease 0s;
  color: #fff;
}

/* Contact Us */
.contact {
  background: #fab95b;
  width: 100%;
  height: 100vh;
  left: 200px;
  display: inline-block;
  position: relative;
}

.address {
  text-align: left;
  right: 70%;
}

.textbox{
  width: 30%;
  border-color: #fff;
  border-width: 5pt;
  left: 50px;
}