.abcd {
  font-family: Arial, Helvetica, sans-serif;
}

.sign {
  border: 0;
  border-radius: 1rem;
  background-color: white;
  margin: 80px;
}

.body {
  padding: 20px 50px;
}

.title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 30px;
}

.form-signin {
  width: 100%;
}


.form-signup {
  width: 100%;
  height: 400px;
}

.button {
  font-size: 15px;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
}

.fillin {
  margin-bottom: 1rem;
}

input {
  height: auto;
  border-radius: 2rem;
}

input, label {
  padding: 10px;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.google {
  color: white;
  background-color: #ea4335;
}

.facebook {
  color: white;
  background-color: #3b5998;
}
